<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.setupcommonlib">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${applicationName}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.example.setupcommonlib.imageloader.GlideConfiguration"
            android:value="GlideModule" />
        <activity
            android:name=".android.MainActivity"
            android:configChanges="${configChanges}" />

        <activity
            android:name=".android.LoginActivity"
            android:configChanges="${configChanges}">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>